.drawer--enter {
  transform: translateX(-100%);
}
.drawer--enter-active {
  transform: translateX(0);
  transition: all 300ms;
}
.drawer--exit {
  transform: translateX(0);
}
.drawer--exit-active {
  transform: translateX(-100%);
  transition: all 300ms;
}

.product-modal-enter {
  opacity: 0.01;
  transform: translateX(100%);
}
.product-modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease-in-out;
}
.product-modal-exit {
  opacity: 1;
  transform: translateY(0);
}
.product-modal-exit-active {
  opacity: 0.01;
  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}
.modal-enter {
  opacity: 0.01;
  transform: translateY(100%);
}
.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}
.modal-exit {
  opacity: 1;
  transform: translateY(0);
}
.modal-exit-active {
  opacity: 0.01;
  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}
.backdrop-enter {
  opacity: 0.01;
}
.backdrop-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.backdrop-exit {
  opacity: 1;
}
.backdrop-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in-out;
}
.pages-enter {
  /* opacity: 0; */
  transform: translateX(100%);
}
.pages-enter-active {
  /* opacity: 1; */
  transform: translateX(0);
  transition: all 250ms ease-in-out;
}
.pages-exit {
  /* opacity: 1; */
  transform: translateX(0);
}
.pages-exit-active {
  /* opacity: 0; */
  transform: translateX(-100%);
  transition: all 250ms ease-in-out;
}
